/* -----------------------------------------------------------*/
/* ------------------>>> GLOBAL SYTLES <<<--------------------*/
/* -----------------------------------------------------------*/

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body,
#map {
	height: 100%;
	margin: 0;
	padding: 0;
}

/* -----------------------------------------------------------*/
/* --------------------->>> HEADING <<<-----------------------*/
/* -----------------------------------------------------------*/

#pageTitle {
	font-family: 'Arbutus', cursive;
	font-weight: 200;
	position: absolute;
	margin: 0px;
	top: 5px;
	left: 10px;
	width: 300px;
	height: 30px;
	color: #006400;
}

h3 {
	margin-top: 7.5px;
}

/* -----------------------------------------------------------*/
/* --------------->>> LIST AND SEARCH BOX <<<-----------------*/
/* -----------------------------------------------------------*/

#container {
	width: 600px;
	margin: 0;
	padding: 0;
}

#searchbox{
	position: absolute;
	min-width: 50px;
	width: 0%;
	top: 42px;
	left: 258px;
	height: 30px;
	float: left;
	overflow: hidden;

	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	-ms-transition: width 0.3s;
	-o-transition: width 0.3s;
	transition: width 0.3s;
}

#searchbox-input{
	position: fixed;
	left: 7.5px;
	top: 42px;
	right: 0;
	border: 0;
	outline: 0;
	background: #dcddd8;
	width: 250px;
	height: 30px;
	margin: 0;
	padding: 0px 0px 0px 5px;
	font-size: 13px;
	color: black;
}

#searchbox-input::-webkit-input-placeholder {
    color: black;
}

#searchbox-input:-moz-placeholder {
    color: black;
}

#searchbox-input::-moz-placeholder {
    color: black;
}

#searchbox-input:-ms-input-placeholder {
    color: black;
}

#searchbox-icon,
#searchbox-submit{
	position: absolute;
	top: 0;
	font-family: 'Dancing Script', cursive;
	font-size: 18px;
	padding: 0;
	margin: 0;
	border: 0;
	outline: 0;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
	color: white;
	background: #006400;
}

#searchbox-open{
    width:100%;
}

#list-view {
    position: fixed;
    height: 25%;
    overflow: auto;
    top: 72px;
    left: 7.5px;
    width: 250px;
    background-color: rgba(255,255,255,0.7);
    margin: 0;
    padding: 0;
    font-size: 1.1em;
}

/*Do I still need this error style ???????
#error {
	position: fixed;
	top: 350px;
	left: 5%;
	width: 20%;
}
*/

.gm-style-iw {
	/*position: absolute;
	z-index: 9999;*/
}

@media only screen and (max-width: 975px) {
	/*#list-holder {
		display: none;
	}*/
}




