* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body,
#map {
	height: 100%;
	margin: 0;
	padding: 0;
	z-index: 0;
}

body {
	position: relative;
}

#pageTitle {
	font-family: 'Arbutus', cursive;
	font-weight: 200;
	position: fixed;
	margin: 0px;
	top: 5px;
	left: 10px;
	width: 300px;
	height: 30px;
	color: #006400;
}

h3 {
	margin-top: 7.5px;
}

#error {
	position: fixed;
	top: 350px;
	left: 5%;
	width: 20%;
}

.gm-style-iw {
	/*position: absolute;
	z-index: 9999;*/
}

@media only screen and (max-width: 975px) {
	/*#list-holder {
		display: none;
	}*/
}




